{% extends "user/base.html" %}


{% block content %}        
         

<style>
    .filter_button{
        color: white;
        background-color: black;
        padding: 10px 100px;
        font-weight: bold;
        margin-top:10px ;
    }

</style>
         <!--====== Section 1 ======-->
         <div class="u-s-p-b-40">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">
                                    <a href="{% url 'accounts:home_user' %}">Home</a></li>
                                <li class="is-marked">

                                    <a href="{% url 'userss:category_details' %}">Category</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->
   



<!--====== Section 1 ======-->
<!-- <div class="u-s-p-y-90 "> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="shop-w-master">
                    <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>
                    <span>FILTERS</span></h1>
                <form method="get" id="category-filter-form">
                    <div class="shop-w-master__sidebar sidebar--bg-snow">

                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">CATEGORY</h1>

                                    <span class="fas fa-minus collapsed shop-w__toggle" data-target="#s-shipping" data-toggle="collapse"></span>
                                </div>

                        
                        <div class="shop-w__wrap collapse" id="s-shipping">
                            <ul class="shop-w__list gl-scroll">
                                {% for category in categories %}
                                <li>
                                    <div class="check-box">
                                        <input type="checkbox" class="filter-checkbox" name="category" value="{{ category.category_id }}">
                                        <div class="check-box__state check-box__state--primary">
                                            <label class="check-box__label">{{ category.category|capfirst }}</label>
                                        </div>
                                    </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">BRANDS</h1>

                                    <span class="fas fa-minus collapsed shop-w__toggle" data-target="#s-manufacturer" data-toggle="collapse"></span>
                                </div>
                                
                                <div class="shop-w__wrap collapse" id="s-manufacturer">
                                    <ul class="shop-w__list-2">
                                        {% for brand in Brands %}
                                        <li>
                                            <div class="list__content">
                                                <input type="checkbox" class="filter-checkbox" name="brand" value="{{ brand.brand_id }}">
                                                <span>{{ brand.brandname|title }}</span>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">COLOR</h1>
                                    
                                    <span class="fas fa-minus collapsed shop-w__toggle" data-target="#s-color" data-toggle="collapse"></span>
                                </div>
                                
                                <div class="shop-w__wrap collapse" id="s-color">
                                    <ul class="shop-w__list gl-scroll">
                                        {% for color in colors %}
                                        <li>
                                            <div class="color__check">
                                                <input type="checkbox" class="filter-checkbox" name="color" value="{{ color }}">
                                                <label class="color__check-label" style="background-color: {{ color|safe }}"></label>
                                            </div>
                                            <span class="shop-w__total-text">{{ color }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">SIZE</h1>
                                    
                                    <span class="fas fa-minus collapsed shop-w__toggle" data-target="#s-size" data-toggle="collapse"></span>
                                </div>
                                
                                <div class="shop-w__wrap collapse" id="s-size">
                                    <ul class="shop-w__list gl-scroll">
                                        {% for variant in Variants %}
                                        <li>
                                            <div class="check-box">
                                                <input type="checkbox" class="filter-checkbox" name="size" value="{{ variant.size }}">
                                                <div class="check-box__state check-box__state--primary">
                                                    <label class="check-box__label">{{ variant.size }}</label>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                
                                
                                <button type="submit" class="filter_button" >APPLY</button>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="shop-p">
                    <div class="shop-p__toolbar u-s-m-b-30">
                        <div class="shop-p__tool-style">
                            <form>
                                <div class="tool-style__form-wrap">
                                  

                                    <div class="u-s-m-b-8">
                                        <form method="GET" action="{% url 'userss:category_details' %}"> 
                                            <input type="hidden" name="search" value="{{ query }}">
                                            <select name="sort" class="select-box select-box--transparent-b-2" onchange="this.form.submit()">
                                                <option value="newly_added" {% if sort == 'newly_added' %}selected{% endif %}>Sort By: Newly Added</option>
                                                <option value="atoz" {% if sort == 'atoz' %}selected{% endif %}>Sort By: A to Z</option>
                                                <option value="ztoa" {% if sort == 'ztoa' %}selected{% endif %}>Sort By: Z to A</option>
                                                <option value="lowest_price" {% if sort == 'lowest_price' %}selected{% endif %}>Sort By: Lowest Price</option>
                                                <option value="highest_price" {% if sort == 'highest_price' %}selected{% endif %}>Sort By: Highest Price</option>
                                            </select>
                                        </form>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="shop-p__collection">
                        <div class="row is-grid-active">
                            {% for product in products %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product-m" >
                                    <div class="product-m__thumb">
                                        
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'userss:product_details' product.product_id %}">
                                            <img class="aspect__img" src="{{ product.image1.url }}" alt="" >
                                        </a>
                                        <div class="product-m__quick-look">
                                            
                                            <!-- <a class="fas fa-search" data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick Look"></a> -->
                                        </div>
                                            <div class="product-m__add-cart">
                                                
                                                <a class="btn--e-brand" data-modal="modal" data-modal-id="" href="{% url 'wishlist:add_to_wishlist' product.product_id %}">Add to Wishlist</a>
                                            </div>
                                    </div>
                                    
                                    <div class="product-m__content">
                                        <div class="product-m__category">
                                            
                                            <a href="{% url 'userss:product_details' product.product_id %}">{{ product.brand.brandname |title}}</a>
                                        </div>
                                        <div class="product-m__name">
                                            
                                            <a href="{% url 'userss:product_details' product.product_id %}">{{ product.product_name |title}}</a></div>
                                            
                                            
                                            <div class="product">
                                                
                                                <div class="product-m__price">
                                                    {% if product.discount_percentage > 0 %}
                                                        <!-- Display discounted price if there's a discount -->
                                                        <span class="product-m__price--discounted">₹{{ product.final_price }}</span>
                                                        <span class="pd-detail__discount">{{ product.discount_percentage|floatformat:0 }}% Off</span>
                                                        <del class="pd-detail__del">₹{{ product.price }}</del>
                                                        {% else %}
                                                        <!-- Display original price if no discount is available -->
                                                        ₹{{ product.price }}
                                                        <del class="pd-detail__del">NO OFFERS</del>
                                                    {% endif %}
                                                </div>

                                            </div>
                                            <div style=>
                                                
                                            </div>
                                            <div class="product-m__rating gl-rating-style">
                                                    
                                                {% if product.average_rating == 1.0 %}
                                                    <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 1.5 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 2.0 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 2.5 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 3.0 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 3.5 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 4.0 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                {% elif product.average_rating == 4.5 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                                {% elif product.average_rating == 5.0 %}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                {% else%}
                                                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                {% endif %}
        
                                                <span style="background-color: rgba(210, 220, 210, 0.804); color: black; padding: 0px 10px; width: 85px; font-weight: bold; border-radius: 50px; font-size: 11px; ">{{ product.total_quantity }} in stock</span>
                                            </div>
                                    
                                    <div class="product-m__hover">
                                        <div class="product-m__preview-description">
                                            
                                            <span>{{ product.description | capfirst}}</span></div>
                                            <div class="product-m__wishlist">
                                                
                                                <a class="far fa-heart" href="{% url 'wishlist:add_to_wishlist' product.product_id %}" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="u-s-p-y-60 shop-p__pagination">
                        <!--====== Pagination ======-->
                            <span class="step-links u-s-p-b-30" style="font-size: 12px; font-weight: bold;">
                                {% if products.has_previous %}
                                    <a href="?page=1">FIRST --</a>
                                    <a href="?page={{ products.previous_page_number }}">PREVIOUS-</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                                </span>
                        
                                {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}">NEXT -- </a>
                                    <a href="?page={{ products.paginator.num_pages }}">LAST</a>
                                {% endif %}
                            </span>
                        
                        <!--====== End - Pagination ======-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
<!-- <SCript>
    document.querySelectorAll('.filter-checkbox').forEach((checkbox) => {
        checkbox.addEventListener('change', function() {
            document.getElementById('category-filter-form').submit();
        });
    });
</SCript> -->


{% endblock %}