
{% extends "user/base.html" %}

{% block content %}



 <!--====== App Content ======-->
 <div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-b-30">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="has-separator">

                                <a href="">Home</a></li>
                            <li class="is-marked">

                                <a href="">My Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->


    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">

                            <!--====== Dashboard Features ======-->
                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                <div class="dash__pad-1">

                                    <span class="dash__text u-s-m-b-16">Hello, {{ user.username | upper }}</span>
                                    <ul class="dash__f-list">

                                        <li>

                                            <a href="{% url 'userss:accountdetails' user.userid %}">My Profile</a></li>
                                        <li>

                                            <a href="{% url 'userss:addressdetails' user.userid %}">Address Book</a></li>
                                        <li class="dash-active">

                                            <a href="{% url 'order:view_orders' %}">My Orders</a></li>
                                        <li>

                                            <a href="">My Wishlist</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                <div class="dash__pad-1">
                                    <ul class="dash__w-list">
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                <span class="dash__w-text">0</span>

                                                <span class="dash__w-name">Orders Placed</span></div>
                                        </li>
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                <span class="dash__w-text">0</span>

                                                <span class="dash__w-name">Cancel Orders</span></div>
                                        </li>
                                        <li>
                                            <div class="dash__w-wrap">

                                                <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                <span class="dash__w-text">0</span>

                                                <span class="dash__w-name">Wishlist</span></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--====== End - Dashboard Features ======-->
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <h1 class="dash__h1 u-s-m-b-14">My Orders</h1>

                                    <span class="dash__text u-s-m-b-30">Here you can see all Orders </span>
                                    <form class="m-order u-s-m-b-30">
                                        <div class="m-order__select-wrapper">

                                            <label class="u-s-m-r-8" for="my-order-sort">Show:</label><select class="select-box select-box--primary-style" id="my-order-sort">
                                                <option selected>Last 5 orders</option>
                                                <option>Last 15 days</option>
                                                <option>Last 30 days</option>
                                                <option>Last 6 months</option>
                                                <option>Orders placed in 2018</option>
                                                <option>All Orders</option>
                                            </select></div>
                                    </form>
                                    {% for item in order_items%}
                                    <div class="m-order__list">
                                        <div class="m-order__get">
                                            <div class="manage-o__header u-s-m-b-30">
                                                <div class="dash-l-r">
                                                    <div>
                                                        <div class="manage-o__text-2 u-c-secondary">Order #{{item.order.tracking_number}}</div>
                                                        <div class="manage-o__text u-c-silver">Placed on {{ item.order.created_at}}</div>
                                                    </div>
                                                    <div>
                                                        <div class="dash__link dash__link--brand">

                                                            <a href="{% url 'order:manage_orders' item.orderitem_id %}">MANAGE</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="manage-o__description">
                                                <div class="description__container">
                                                    <div class="description__img-wrap">

                                                        <img class="u-img-fluid" src="{{ item.variants.product.image1.url }}" alt=""></div>
                                                    <div class="description-title"></div>
                                                </div>
                                                <div class="description__info-wrap">

                                                        <div>

                                                            {% if item.status == 'Order Pending' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--processing">Processing</span>
                                                                </div>
                                                            {% elif item.status == 'Order confirmed' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--processing">Confirmed</span>
                                                                </div>
                                                            {% elif item.status == 'Shipped' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--processing">Shipped</span>
                                                                </div>
                                                            {% elif item.status == 'Out For Delivery' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--out-for-processing">Out for Delivery</span>
                                                                </div>
                                                            {% elif item.status == 'Delivered' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--shipped">Delivered</span>
                                                                </div>
                                                            {% elif item.status == 'Cancelled' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--delivered">Cancelled</span>
                                                                </div>
                                                            {% elif item.status == 'Requested Return' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--requested-processing">Return Requested</span>
                                                                </div>
                                                            {% elif item.status == 'Approve Returned' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--approve-processing">Return Approved</span>
                                                                </div>
                                                            {% elif item.status == 'Reject Returned' %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--reject-delivered">Return Rejected</span>
                                                                </div>
                                                            {% else %}
                                                                <div>
                                                                    <span class="manage-o__badge badge--delivered">Unknown Status</span>
                                                                </div>
                                                            {% endif %}

                           
                                                        <span class="manage-o__text-2 u-c-silver">Quantity:

                                                            <span class="manage-o__text-2 u-c-secondary">{{item.quantity}}</span>
                                                        </span>
                                                        </div>
                                                    <div>

                                                        <span class="manage-o__text-2 u-c-silver">Price:

                                                            <span class="manage-o__text-2 u-c-secondary">₹{{item.subtotal_price}}</span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->


{% endblock %}