{% extends "user/base.html" %}

{% block content %}
{% load static %}

<style>
    
    
    .pd-tab__desc, .pd-tab__tag {
        max-width: 100% !important; }

        .size-buttons {
            margin-top: 10px;
        }
    

    .size-button {
        background-color: black; /* Black background color */
        color: white; /* White text color */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        padding: 10px 15px; /* Button padding */
        margin-right: 5px; /* Space between buttons */
        cursor: pointer; /* Change cursor on hover */
        font-size: 16px; /* Font size */
        margin-bottom: 5px;
    }
    
    .size-button:hover {
        background-color: #000;
         /* Darker shade on hover */
    }
    .sele{
        color: black;
        font-weight: bold;
        font-size: 14px;
    }

    
    .o-summary__item-wrap {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping of coupon cards to the next row */
        justify-content: flex-start; /* Align items to the start */
        gap: 10px; /* Space between cards */
    }
    
    .coupon-card {
        background-color: #f9f9f9;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid #e1e1e1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 250px; /* Adjust width to fit your layout */
        max-height: 70px;
    }
    
    .coupon-header {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }
    
    .coupon-details {
        font-size: 13px;
        color: #000;
    }
    
    .coupon-info {
        margin-bottom: 8px;
    }
    
    .coupon-info__title {
        font-weight: bold;
        color: #333;
    }
    
    .coupon-info__value {
        color: #49c36e;
        font-size: 12px;
        font-weight: normal;
    }
    
    .coupon-info__value:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .alter-height {
        height: 100px;
    }
    
    .coupon-card-2{
        background-color: #f9f9f9;
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #e1e1e1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        height: 60px;
        width: 210%;
        margin: 5px 1px;

    } 


    .rating-container {
        text-align: center;
        margin: 30px 0;
    }
    
    .rating {
        display: inline-block;
    }
    
    .star {
        font-size: 70px;
        color: #ddd;
        cursor: pointer;
        transition: color 0.3s;
    }
    
    .star:hover,
    .star.hovered {
        color: #f39c12; /* Gold on hover */
    }
    
    .star.selected {
        color: #f39c12; /* Gold when selected */
    }
    
    .rating-value {
        margin-top: 15px;
        font-size: 20px;
        color: #333;    
    }
    .btnn{
        margin-top: 5px;
        padding: 15px 100px !important;
    }
</style>
        <!--====== App Content ======-->
        <div class="app-content">
            
            <!--====== Product Breadcrumb ======-->
             <div class="section__content u-s-p-b-40">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="{% url 'accounts:home_user' %}">Home</a></li>
                                <li class="has-separator">

                                    <a href="{% url 'userss:category_details' %}">Category</a></li>
                                <li class="is-marked">

                                    <a href="">Product Detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Breadcrumb ======-->


            <!--====== Section 1 ======-->
            <div class="u-s-p-b-40">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-5">

                            <!--====== Product Detail Zoom ======-->


                            <div class="pd u-s-m-b-30 ">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">
                                        <div class="pd-o-img-wrap" data-src="{{ product.image1.url }}">
                                            <img class="u-img-fluid zoom-image" src="{{ product.image1.url }}" data-zoom-image="{{ product.image1.url }}" alt="">
                                        </div>

                                        <div class="pd-o-img-wrap" data-src="{{ product.image2.url }}">
                                            <img class="u-img-fluid" src="{{ product.image2.url }}" data-zoom-image="{{ product.image2.url }}" alt="">
                                        </div>

                                        <div class="pd-o-img-wrap" data-src="{{ product.image3.url }}">
                                            <img class="u-img-fluid" src="{{ product.image3.url }}" data-zoom-image="{{ product.image3.url }}" alt="">
                                        </div>

                                        <div class="pd-o-img-wrap" data-src="{{ product.image4.url }}">
                                            <img class="u-img-fluid" src="{{ product.image4.url }}" data-zoom-image="{{ product.image4.url }}" alt="">
                                        </div>

                                    </div>

                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image1.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image1.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image2.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image3.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image3.url }} " alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7 ">
                          
                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail  u-s-m-b-30">
                                <div>

                                    <span class="pd-detail__name ">{{ product.product_name |title }}</span>
                                </div>
                                <div>

                                    <div class="pd-detail__inline">
                                        {% if discount_percentage > 0 %}
                                        <!-- Show the discounted price and the original price with a strike-through -->
                                        <span class="pd-detail__price" id="product-price">₹{{ final_price }}</span>
                                        <span class="pd-detail__discount">({{ discount_percentage|floatformat:0 }}% OFF)</span>
                                        <del class="pd-detail__del">₹{{ product.price }}</del>
                                        {% else %}
                                        <!-- No discount: Show only the original price -->
                                        <span class="pd-detail__price" id="product-price">₹{{ product.price }}</span>
                                        <span class="pd-detail__discount">(NO OFFERS )</span>
                                        {% endif %}
                                    </div>
                                    
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style">

                                        {% if avg_rating == 1.0 %}
                                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 1.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 2.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 2.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 3.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 3.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 4.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                        {% elif avg_rating == 4.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        {% elif avg_rating == 5.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        {% else%}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        {% endif %}


                                        <span class="pd-detail__review u-s-m-l-4">

                                            <a data-click-scroll="#view-review">{{rating_count}} Reviews</a></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                         

                                        {% if product.variants.all %}
                                        {% with first_variant=product.variants.all.0 %}
                                           
                                        {% if first_variant.qty > 0 %}
                                                <span class="pd-detail__stock" id="product-stock">{{ first_variant.qty }} in stock</span>
                                            {% else %}
                                                <span class="pd-detail__stock" id="product-stock">Out of stock</span>
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                    
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc">{{ product.description |capfirst}}</span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                            <a href="{% url 'wishlist:add_to_wishlist' product.product_id %}">Add to Wishlist</a>

                                            </span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap">
                                        
                                            <div class="size-buttons">
                                                {% for variant in product.variants.all %}
                                                    <button 
                                                        class="size-button" 
                                                        data-price="{{ variant.price }}" 
                                                        data-qty="{{ variant.qty }}"
                                                        data-variant-id="{{ variant.variant_id }}" 
                                                        onclick="selectSize(this, '{{ variant.size }}')">
                                                        {{ variant.size }}
                                                    </button>
                                                {% endfor %}
                                            </div>
                                            <div id="selected-size" class="sele">Selected Size: None</div> 


                                        </span>
                                    </div>
                                </div>

                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        <li>

                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li>

                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li>

                                            <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li>

                                            <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li>

                                            <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>


                                <div class="u-s-m-b-15">
                                    {% if product.variants.all %}
                                    <form class="pd-detail__form" method="post" id="add-to-cart-form" action="">
                                        {% csrf_token %}
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">
                                                <div class="input-counter">
                                                    <span class="input-counter__minus fas fa-minus"></span>
                                                    <input class="input-counter__text input-counter--text-primary-style" name="quantity" type="text" value="1" data-min="1" data-max="6">
                                                    <span class="input-counter__plus fas fa-plus"></span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <input type="hidden" id="selected-size-input" name="selected_size" value="">
                                                <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>
                                            </div>
                                        </div>
                                    </form>

                                    
                                    {% else %}
                                    <p>No variants available for this product.</p>
                                    {% endif %}
                                </div>
                                    <div class="o-summary__item-wrap gl-scroll alter-height">
                                        {% if coupons%}
                                        {% for coupon in coupons %}
                                        <div class="coupon-card">
                                            <div class="coupon-details u-s-m-b-10">
                                                <div class="coupon-info">
                                                    <span class="coupon-info__value">
                                                        THE <strong>{{ coupon.code|upper }}</strong> GET <strong>
                                                            ₹{{ coupon.discount_amount|capfirst |floatformat:0 }}
                                                        </strong> OFF FOR </span><br>
                                                    <span class="coupon-info__value" style="font-size: 12px; color: #000;">
                                                        {% if coupon.category != 'None' %}
                                                            <strong>{{ coupon.category | upper }}</strong> 
                                                        {% endif %}
                                                        Minimum Purchase: ₹{{ coupon.min_purchase_amount | floatformat:0 }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="coupon-card-2">
                                                <div class="coupon-info">
                                                    <span class="coupon-info__value"><strong>NO COUPON AVAILABLE</strong> </span>
                                                </div>
                                        </div>
                                        {% endif %}
                                    </div>
                            

                            </div>

                            
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Product Detail Tab ======-->
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">

                                            <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>
                                        <li class="nav-item">

                                            <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS

                                                <!-- <span>(23)</span> -->
                                            </a>
                                            </li>
                                    </ul>
                                </div>
                                <div class="tab-content ">

                                    <!--====== Tab 1 ======-->
                                    <div class="tab-pane fade show active" id="pd-desc">
                                        <div class="pd-tab__desc " >
                                            <div class="u-s-m-b-15 ">
                                                <p >{{ product.description |capfirst }}</p>
                                            </div>
                                          
                                            <div class="u-s-m-b-15">
                                                <h4>PRODUCT INFORMATION</h4>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <div class="pd-table gl-scroll">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>Occasion</td>
                                                                <td>{{ product.occasion |title }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Color</td> 
                                                                <td>{{ product.color |title }}</td>
                                                            </tr>  
                                                            <tr>
                                                                <td>Fit</td>
                                                                <td>{{ product.fit |title }}</td>
                                                            </tr>
                                                            <tr>
                                                                <tr>
                                                                    <td>Size available</td>
                                                                    <td>
                                                                        {% for variant in product.variants.all %}
                                                                        {{ variant.size|title }}{% if not forloop.last %}, {% endif %}
                                                                            {% endfor %}
                                                                    </td>  <!-- Sizes in a single cell -->
                                                                </tr>
                                                            </tr>
        
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 1 ======-->

                                    <!--====== Tab 2 ======-->
                                    <div class="tab-pane" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>{{rating_count}} Reviews - {{avg_rating }} Rating (Overall)</h2>
                                                    </div>
                                                    <!-- <div class="gl-rating-style-2 u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div> -->
                                                    <div class="u-s-m-b-8">
                                                        <h4>We want to hear from you!</h4>
                                                    </div>

                                                    <span class="gl-text">Tell us what you think about this item</span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f1">
                                                    <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15">
                                                            <h2>{{rating_count}} Review(s) for {{product.product_name}}</h2>
                                                        </div>
                                                        <div class="u-s-m-b-15">

                                                            <label for="sort-review"></label>
                                                            <!-- <select class="select-box select-box--primary-style" id="sort-review">
                                                                <option selected>Sort by: Best Rating</option>
                                                                <option>Sort by: Worst Rating</option>
                                                            </select> -->
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        {% for review in product_reviews %}
                                                            <div class="col-md-6 col-12">
                                                                <div class="rev-f1__review">
                                                                    <div class="review-o u-s-m-b-15">
                                                                        <div class="review-o__info u-s-m-b-8">
                                                                            <span class="review-o__name" >{{ review.user | capfirst }}</span>
                                                                            <span class="review-o__date">{{ review.created_at }}</span>
                                                                        </div>
                                                                        <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                            {% if review.rating == 1 %}
                                                                                <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                                            {% elif review.rating == 2 %}
                                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                                            {% elif review.rating == 3 %}
                                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                                                            {% elif review.rating == 4 %}
                                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                                                            {% elif review.rating == 5 %}
                                                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                                            {% endif %}
                                                                            <span>({{ review.rating }})</span>
                                                                        </div>
                                                                        <p class="review-o__text" style="text-align: justify;">{{ review.review }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    

                                                </form>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f2" method="post" action="{% url 'products:add_review' product.product_id %}">
                                                    {% csrf_token %}
                                                    <h2 class="u-s-m-b-15">Add a Review</h2>
                                                
                                                    <span class="gl-text u-s-m-b-15">
                                                        Your email address will not be published. Required fields are marked *
                                                    </span>
                                                
                                                    <div class="container">
                                                        <div class="row">
                                                            <!-- Review Section -->
                                                            <div class="col-12 col-md-6">
                                                                <div class="rev-f2__group">
                                                                    <div class="u-s-m-b-30">
                                                                        <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label>
                                                                        <textarea
                                                                            class="text-area text-area--primary-style"
                                                                            name="review"
                                                                            id="reviewer-text"
                                                                            style="height: 200px;"
                                                                            required
                                                                        ></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    
                                                            <!-- Rating Section -->
                                                            <div class="col-12 col-md-6">
                                                                <div class="rating-container">
                                                                    <div class="rating">
                                                                        <!-- Rating Stars -->
                                                                        <span class="star" data-value="1">&#9733;</span>
                                                                        <span class="star" data-value="2">&#9733;</span>
                                                                        <span class="star" data-value="3">&#9733;</span>
                                                                        <span class="star" data-value="4">&#9733;</span>
                                                                        <span class="star" data-value="5">&#9733;</span>
                                                                    </div>
                                                    
                                                                    <!-- Hidden Input Field to Store Rating -->
                                                                    <input type="hidden" id="rating-input" name="rating" value="">
                                                    
                                                                    <!-- Display the Selected Value -->
                                                                    <div class="rating-value">
                                                                        <p>Your rating: <span id="selected-rating">0</span> stars</p>
                                                                    </div>
                                                    
                                                                    <!-- Submit Button -->
                                                                    <div class="text-end ">
                                                                        <button class="btn btn--e-brand-shadow btnn" type="submit">SUBMIT</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 3 ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Detail Tab ======-->
            <div class="">

                <!--====== Section Intro ======-->
                <div class="section__intro ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                    <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">
                                {% for product in products %}

                                <div class="u-s-m-b-30">

                                    <div class="product-o product-o--hover-on">

                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'userss:product_details' product.product_id %}">

                                                <img class="aspect__img" src="{{ product.image1.url }}" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <!-- <li>

                                                        <a href="" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="{% url 'userss:product_details' product.product_id %}">{{ product.brand.brandname }}</a></span>

                                        <span class="product-o__name">

                                            <a href="{% url 'userss:product_details' product.product_id %}">{{ product.product_name }}</a></span>
                                        <div class="product-o__rating gl-rating-style" >
                                            
                                            {% if product.average_rating == 1.0 %}
                                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 1.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 2.0 %}
                                        
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 2.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 3.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 3.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 4.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                        {% elif product.average_rating == 4.5 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                        {% elif product.average_rating == 5.0 %}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            <span class="product-o__price">₹{{product.price}}

                                        {% else%}
                                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            <span class="product-o__price">₹{{product.price}}
                                        {% endif %}

                                        <!-- {% if product.variants.all %} -->
                                        <!-- <span class="product-o__discount">₹160.00</span></span> -->
                                        <!-- {% endif %} -->
                                            <!-- <span class="product-o__review">(20)</span> -->
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->


            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->
        <script>

            function selectSize(button, size) {
                const price = button.getAttribute('data-price');
                const qty = button.getAttribute('data-qty');
            
                // Update the displayed price
               // <!-- document.getElementById('product-price').innerText = '₹ ' + price; -->
                
                const stockText = qty > 0 ? qty + ' in stock' : 'Out of stock';
                document.getElementById('product-stock').innerText = stockText;
            
                // Update the selected size display
                document.getElementById('selected-size').innerText = 'Selected Size: ' + size;
            
                // Update the hidden input for selected size
                document.getElementById('selected-size-input').value = size;
            
                // Get the variant ID from the button's data attribute
                const variantId = button.getAttribute('data-variant-id'); // You need to set this in the button below
            
                // Update the form action
                const form = document.getElementById('add-to-cart-form');
                form.action = "{% url 'cart:addtocart' 0 %}".replace('0', variantId); // Update to your URL pattern
            }

            document.getElementById('add-to-cart-form').addEventListener('submit', function(event) {
                const selectedSize = document.getElementById('selected-size-input').value;
                if (!selectedSize) {
                    event.preventDefault(); 
                    showToastMessage('Please select a size','error');
                }
            });

           // Get all stars and the hidden input field
        const stars = document.querySelectorAll('.star');
        const ratingInput = document.getElementById('rating-input');
        const selectedRatingElement = document.getElementById('selected-rating');

        // Add click event listener to each star
        stars.forEach(star => {
            star.addEventListener('click', function () {
                // Get the selected rating value
                const ratingValue = this.getAttribute('data-value');

                // Update the hidden input value
                ratingInput.value = ratingValue;

                // Update the displayed rating value
                selectedRatingElement.textContent = ratingValue;

                // Clear previously selected stars
                stars.forEach(s => s.classList.remove('selected'));

                // Highlight the selected star and all previous ones
                for (let i = 0; i < ratingValue; i++) {
                    stars[i].classList.add('selected');
                }
            });
        });


        </script>
{% endblock %}