{% extends "user/base.html" %}

{% block content %}
{% load static %}

<style>
    
.pd-tab__desc, .pd-tab__tag {
    max-width: 100% !important; }

    .size-buttons {
        margin-top: 10px;
    }
    

    .size-button {
        background-color: black; /* Black background color */
        color: white; /* White text color */
        border: none; /* No border */
        border-radius: 5px; /* Rounded corners */
        padding: 10px 15px; /* Button padding */
        margin-right: 5px; /* Space between buttons */
        cursor: pointer; /* Change cursor on hover */
        font-size: 16px; /* Font size */
        margin-bottom: 5px;
    }
    
    .size-button:hover {
        background-color: #000;
         /* Darker shade on hover */
    }
    .sele{
        color: black;
        font-weight: bold;
        font-size: 14px;
    }
</style>
        <!--====== App Content ======-->
        <div class="app-content">
            
            <!--====== Product Breadcrumb ======-->
             <div class="section__content u-s-p-b-40">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="{% url 'accounts:home_user' %}">Home</a></li>
                                <li class="has-separator">

                                    <a href="{% url 'userss:category_details' %}">Category</a></li>
                                <li class="is-marked">

                                    <a href="">Product Detail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Breadcrumb ======-->


            <!--====== Section 1 ======-->
            <div class="u-s-p-b-40">
                <div class="container ">
                    <div class="row">
                        <div class="col-lg-5">

                            <!--====== Product Detail Zoom ======-->


                            <div class="pd u-s-m-b-30 ">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">
                                        <div class="pd-o-img-wrap" data-src="{{ product.image1.url }}">
                                            <img class="u-img-fluid" src="{{ product.image1.url }}" data-zoom-image="{{ product.image1.url }}" alt="">
                                        </div>

                                        <div class="pd-o-img-wrap" data-src="{{ product.image2.url }}">
                                            <img class="u-img-fluid" src="{{ product.image2.url }}" data-zoom-image="{{ product.image2.url }}" alt="">
                                        </div>

                                        <div class="pd-o-img-wrap" data-src="{{ product.image3.url }}">
                                            <img class="u-img-fluid" src="{{ product.image3.url }}" data-zoom-image="{{ product.image3.url }}" alt="">
                                        </div>

                                        <div class="pd-o-img-wrap" data-src="{{ product.image4.url }}">
                                            <img class="u-img-fluid" src="{{ product.image4.url }}" data-zoom-image="{{ product.image4.url }}" alt="">
                                        </div>

                                        <!-- <div class="pd-o-img-wrap" data-src="{% static 'images/product/product-d-5.jpg' %}">
                                            <img class="u-img-fluid" src="{% static 'images/product/product-d-5.jpg' %}" data-zoom-image="{% static 'images/product/product-d-5.jpg' %}" alt="">
                                        </div> -->

                                    </div>

                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image1.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image1.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image2.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image3.url }}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{ product.image3.url }} " alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7 ">
                          
                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail  u-s-m-b-30">
                                <div>

                                    <span class="pd-detail__name ">{{ product.product_name |title }}</span></div>
                                <div>
                                    <div class="pd-detail__inline">
                                        {% if product.variants.all %}
                                        <span class="pd-detail__price" id="product-price">₹ {{ product.variants.all.0.price }} </span>
                                        {% endif %}

                                        <!-- <span class="pd-detail__price">₹ {{product.variants.all.price}} </span> -->


                                        <span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">₹28.97</del></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                        <span class="pd-detail__review u-s-m-l-4">

                                            <a data-click-scroll="#view-review">23 Reviews</a></span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                         

                                        {% if product.variants.all %}
                                        {% with first_variant=product.variants.all.0 %}
                                           
                                        {% if first_variant.qty > 0 %}
                                                <span class="pd-detail__stock" id="product-stock">{{ first_variant.qty }} in stock</span>
                                            {% else %}
                                                <span class="pd-detail__stock" id="product-stock">Out of stock</span>
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                    
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__preview-desc">{{ product.description |capfirst}}</span></div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>

                                            <a href="">Add to Wishlist</a>

                                            </span></div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">

                                        <span class="pd-detail__click-wrap">
                                            <!-- <i class="far fa-envelope u-s-m-r-6"></i> -->

                                            <!-- <div class="product-details">
                                                <h3>Available Sizes:</h3>
                                                <div class="size-buttons">
                                                    {% for variant in product.variants.all %}
                                                        <button 
                                                            class="size-button" 
                                                            data-price="{{ variant.price }}" 
                                                            data-qty="{{ variant.qty }}"
                                                            onclick="selectSize(this, '{{ variant.size }}')">
                                                            {{ variant.size }}
                                                        </button>
                                                    {% endfor %}
                                                </div>
                                                <div id="selected-size" class="sele">Selected Size: None</div> 
                                            </div>
                                             -->
                                            <!-- <span class="pd-detail__click-count">()</span> -->



                                            <div class="size-buttons">
                                                {% for variant in product.variants.all %}
                                                    <button 
                                                        class="size-button" 
                                                        data-price="{{ variant.price }}" 
                                                        data-qty="{{ variant.qty }}"
                                                        data-variant-id="{{ variant.variant_id }}" 
                                                        onclick="selectSize(this, '{{ variant.size }}')">
                                                        {{ variant.size }}
                                                    </button>
                                                {% endfor %}
                                            </div>
                                            <div id="selected-size" class="sele">Selected Size: None</div> 


                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <ul class="pd-social-list">
                                        <li>

                                            <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li>

                                            <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li>

                                            <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li>

                                            <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a></li>
                                        <li>

                                            <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>


                                <div class="u-s-m-b-15">
                                    {% if product.variants.all %}
                                <!-- 
                                    <form class="pd-detail__form" method="post" action="{% url 'cart:addtocart' 0 %}">
                                        {% csrf_token %}
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">

                                                <div class="input-counter">

                                                    <span class="input-counter__minus fas fa-minus"></span>

                                                    <input class="input-counter__text input-counter--text-primary-style" name="quantity" type="text" value="1" data-min="1" data-max="6">

                                                    <span class="input-counter__plus fas fa-plus"></span></div>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <input type="hidden" id="selected-size-input" name="selected_size" value="">
                                                
                                                <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button></div>
                                        </div>
                                    </form> -->

                                    <form class="pd-detail__form" method="post" id="add-to-cart-form" action="">
                                        {% csrf_token %}
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">
                                                <div class="input-counter">
                                                    <span class="input-counter__minus fas fa-minus"></span>
                                                    <input class="input-counter__text input-counter--text-primary-style" name="quantity" type="text" value="1" data-min="1" data-max="6">
                                                    <span class="input-counter__plus fas fa-plus"></span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <input type="hidden" id="selected-size-input" name="selected_size" value="">
                                                <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>
                                            </div>
                                        </div>
                                    </form>

                                    
                                    {% else %}
                                    <p>No variants available for this product.</p>
                                    {% endif %}
                                </div>
                               



                                <div class="u-s-m-b-15">

                                    <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                                    <ul class="pd-detail__policy-list">
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Buyer Protection.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Full Refund if you don't receive your order.</span></li>
                                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                                            <span>Returns accepted if product not as described.</span></li>
                                    </ul>
                                </div>
                            </div>

                            
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Product Detail Tab ======-->
            <div class="">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">

                                            <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a></li>
                                        <li class="nav-item">

                                            <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS

                                                <!-- <span>(23)</span> -->
                                            </a>
                                            </li>
                                    </ul>
                                </div>
                                <div class="tab-content ">

                                    <!--====== Tab 1 ======-->
                                    <div class="tab-pane fade show active" id="pd-desc">
                                        <div class="pd-tab__desc " >
                                            <div class="u-s-m-b-15 ">
                                                <p >{{ product.description |capfirst }}</p>
                                            </div>
                                          
                                            <div class="u-s-m-b-15">
                                                <h4>PRODUCT INFORMATION</h4>
                                            </div>
                                            <div class="u-s-m-b-15">
                                                <div class="pd-table gl-scroll">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>Occasion</td>
                                                                <td>{{ product.occasion |title }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Color</td> 
                                                                <td>{{ product.color |title }}</td>
                                                            </tr>  
                                                            <tr>
                                                                <td>Fit</td>
                                                                <td>{{ product.fit |title }}</td>
                                                            </tr>
                                                            <tr>
                                                                <tr>
                                                                    <td>Size available</td>
                                                                    <td>
                                                                        {% for variant in product.variants.all %}
                                                                        {{ variant.size|title }}{% if not forloop.last %}, {% endif %}
                                                                            {% endfor %}
                                                                    </td>  <!-- Sizes in a single cell -->
                                                                </tr>
                                                            </tr>
                                                            <!-- <tr>
                                                                <td>Main Material</td>
                                                                <td>Cotton</td>
                                                            </tr> -->
                                                            <!-- <tr>
                                                                <td>Print</td>
                                                                <td>Not Printed</td>
                                                            </tr> -->
                                                            <!-- <tr>
                                                                <td>Neck</td>
                                                                <td>Round Neck</td>
                                                            </tr> -->
                                                            <!-- <tr>
                                                                <td>Pieces Count</td>
                                                                <td>1 Piece</td>
                                                            </tr> -->
                                                           
                                                            <!-- <tr>
                                                                <td>Shipping Weight (kg)</td>
                                                                <td>0.5</td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 1 ======-->

                                    <!--====== Tab 2 ======-->
                                    <div class="tab-pane" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>23 Reviews - 4.6 (Overall)</h2>
                                                    </div>
                                                    <div class="gl-rating-style-2 u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>
                                                    <div class="u-s-m-b-8">
                                                        <h4>We want to hear from you!</h4>
                                                    </div>

                                                    <span class="gl-text">Tell us what you think about this item</span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f1">
                                                    <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15">
                                                            <h2>23 Review(s) for Man Ruched Floral Applique Tee</h2>
                                                        </div>
                                                        <div class="u-s-m-b-15">

                                                            <label for="sort-review"></label><select class="select-box select-box--primary-style" id="sort-review">
                                                                <option selected>Sort by: Best Rating</option>
                                                                <option>Sort by: Worst Rating</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="rev-f1__review">
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">John Doe</span>

                                                                <span class="review-o__date">27 Feb 2018 10:57:43</span></div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                                <span>(4)</span></div>
                                                            <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                        </div>
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">John Doe</span>

                                                                <span class="review-o__date">27 Feb 2018 10:57:43</span></div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                                <span>(4)</span></div>
                                                            <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                        </div>
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">

                                                                <span class="review-o__name">John Doe</span>

                                                                <span class="review-o__date">27 Feb 2018 10:57:43</span></div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>

                                                                <span>(4)</span></div>
                                                            <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f2">
                                                    <h2 class="u-s-m-b-15">Add a Review</h2>

                                                    <span class="gl-text u-s-m-b-15">Your email address will not be published. Required fields are marked *</span>
                                                    <div class="u-s-m-b-30">
                                                        <div class="rev-f2__table-wrap gl-scroll">
                                                            <table class="rev-f2__table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i>

                                                                                <span>(1)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(1.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(2)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(2.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(3)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(3.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(4)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

                                                                                <span>(4.5)</span></div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                                                                <span>(5)</span></div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-1"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-1.5" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-1.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-2" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-2"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-2.5" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-2.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-3"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-3.5" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-3.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-4"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-4.5" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-4.5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>

                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">

                                                                                <input type="radio" id="star-5" name="rating">
                                                                                <div class="radio-box__state radio-box__state--primary">

                                                                                    <label class="radio-box__label" for="star-5"></label></div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="rev-f2__group">
                                                        <div class="u-s-m-b-15">

                                                            <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label><textarea class="text-area text-area--primary-style" id="reviewer-text"></textarea></div>
                                                        <div>
                                                            <p class="u-s-m-b-30">

                                                                <label class="gl-label" for="reviewer-name">NAME *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="reviewer-name"></p>
                                                            <p class="u-s-m-b-30">

                                                                <label class="gl-label" for="reviewer-email">EMAIL *</label>

                                                                <input class="input-text input-text--primary-style" type="text" id="reviewer-email"></p>
                                                        </div>
                                                    </div>
                                                    <div>

                                                        <button class="btn btn--e-brand-shadow" type="submit">SUBMIT</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 3 ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Detail Tab ======-->
            <div class="">

                <!--====== Section Intro ======-->
                <div class="section__intro ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                    <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">
                                {% for product in products %}

                                <div class="u-s-m-b-30">

                                    <div class="product-o product-o--hover-on">

                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'userss:product_details' product.product_id %}">

                                                <img class="aspect__img" src="{{ product.image1.url }}" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <!-- <li>

                                                        <a href="" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="{% url 'userss:product_details' product.product_id %}">{{ product.brand.brandname }}</a></span>

                                        <span class="product-o__name">

                                            <a href="{% url 'userss:product_details' product.product_id %}">{{ product.product_name }}</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>
                                        {% if product.variants.all %}
                                        <span class="product-o__price">₹{{product.variants.all.0.price}}
                                        <span class="product-o__discount">₹160.00</span></span>
                                        {% endif %}
                                    </div>

                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->


            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->
        <script>

            function selectSize(button, size) {
                const price = button.getAttribute('data-price');
                const qty = button.getAttribute('data-qty');
            
                // Update the displayed price
                document.getElementById('product-price').innerText = '₹ ' + price;
                const stockText = qty > 0 ? qty + ' in stock' : 'Out of stock';
                document.getElementById('product-stock').innerText = stockText;
            
                // Update the selected size display
                document.getElementById('selected-size').innerText = 'Selected Size: ' + size;
            
                // Update the hidden input for selected size
                document.getElementById('selected-size-input').value = size;
            
                // Get the variant ID from the button's data attribute
                const variantId = button.getAttribute('data-variant-id'); // You need to set this in the button below
            
                // Update the form action
                const form = document.getElementById('add-to-cart-form');
                form.action = "{% url 'cart:addtocart' 0 %}".replace('0', variantId); // Update to your URL pattern
            }
        </script>
{% endblock %}