{% extends "user/base.html" %}

{% block content %}

{% load socialaccount %}

<!--====== Section 1 ======-->
<div class="">

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="breadcrumb">
                <div class="breadcrumb__wrap">
                    <ul class="breadcrumb__list">
                        <li class="has-separator">
                            <a href="{% url 'accounts:home_user' %}">Home</a>
                        </li>
                        <li class="is-marked">
                            <a href="">Reset</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== End - Section 1 ======-->
   
<!--====== Section 2 ======-->
<div class="">
    <!--====== Section Intro ======-->
    <div class="section__intro u-s-p-b-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__text-wrap">
                        <h2 class="section__heading u-c-secondary">SET NEW PASSWORD</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Intro ======-->

    <!--====== Section Content ======-->
    <div class="section__content">
        <div class="container">
            <div class="row row--center">
                <div class="col-lg-6 col-md-8 u-s-m-b-30">
                    <div class="l-f-o">
                        <div class="l-f-o__pad-box">
                            <h1 class="gl-h1">RESET PASSWORD</h1>

                            <span class="gl-text u-s-m-b-30">Create your new password here</span>
                           
                            <div id="error-message" class="u-s-m-b-30"></div> <!-- Error message area -->

                            <form class="l-f-o__form" method="post" id="loginForm" action="{% url 'accounts:reset_new_password' %}">
                                {% csrf_token %}
                               
                                <div class="u-s-m-b-30">
                                    <label class="gl-label">PASSWORD *</label>
                                    <input class="input-text input-text--primary-style" name="password1" type="password" id="password1" placeholder="Enter Password">
                                </div>
                                <div class="u-s-m-b-30">
                                    <label class="gl-label">RE-ENTER PASSWORD *</label>
                                    <input class="input-text input-text--primary-style" name="password2" type="password" id="password2" placeholder="Re-enter Password">
                                </div>

                                <div class="gl-inline">
                                    <div class="u-s-m-b-30">
                                        <button class="btn btn--e-transparent-brand-b-2" type="submit">RESET</button>
                                    </div>
                                </div>
                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section Content ======-->
</div>
<!--====== End - Section 2 ======-->

<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        var password1 = document.getElementById('password1').value;
        var password2 = document.getElementById('password2').value;

        if (password1 !== password2) {
            event.preventDefault(); // Prevent form submission
            document.getElementById('error-message').textContent = "Passwords do not match!";
            document.getElementById('error-message').style.color = "red"; // Change color to red for visibility
        }
    });
</script>

{% endblock %}
